body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2 {
  margin-bottom: 10px;
}

p {
  max-width: 300px;
}

html {
  scroll-behavior: smooth;
}
